@font-face {
    font-family: 'ZoomlaCarved';
    /*逐浪海棠居刻本字*/
    src: url('/fonts/ZoomlaCarved.eot');
    /* IE9 */
    src: url('/fonts/ZoomlaCarved.eot') format("embedded-opentype"),
        /* IE6-IE8 */
        url('/fonts/ZoomlaCarved.woff') format("woff"),
        /* chrome、firefox */
        url('/fonts/ZoomlaCarved.ttf') format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
        url('https://code.z01.com/font/ZoomlaCarved.svg#ZoomlaCarved') format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'zFont2';
    /*逐浪时尚钢笔体*/
    src: url('/fonts/zFont2.eot');
    /* IE9 */
    src: url('/fonts/zFont2.eot') format("embedded-opentype"),
        /* IE6-IE8 */
        url('/fonts/zFont2.woff') format("woff"),
        /* chrome、firefox */
        url('/fonts/zFont2.ttf') format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
        url('https://code.z01.com/font/zFont2.svg#zFont2') format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ZoomlaLikai-A044';
    /*逐浪立楷*/
    src: url('/fonts/ZoomlaLikai-A044.eot?#iefix');
    /* IE9 */
    src: url('/fonts/ZoomlaLikai-A044.eot?#iefix') format("embedded-opentype"),
        /* IE6-IE8 */
        url('/fonts/ZoomlaLikai-A044.woff') format("woff"),
        /* chrome、firefox */
        url('/fonts/ZoomlaLikai-A044.ttf') format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
        url('/fonts/ZoomlaLikai-A044.svg#ZoomlaLikai-A044') format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'xingkai';
    src: url('/fonts/STXINGKA.TTF');

    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'ARLRDBD';
    src: url('/fonts/ARLRDBD.TTF');

    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'kaiti';
    src: url('/fonts/HGKT_CNKI.TTF');

    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}